/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 5%;
}

.add-score-btn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.add-score-btn:hover {
  background-color: #2980b9;
}
